.carousel-wrapper {
  width: 800px;
  margin: 0 auto;
}

.thumbs {
  display: flex;
  justify-content: center;
}

.thumbs-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbs-list-thumb {
  margin: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.thumbs-list-thumb.active,
.thumbs-list-thumb:hover {
  opacity: 1;
}

.thumbs-list-thumb img {
  width: 100px;
  height: auto;
  display: block;
}
