body{
    background-color:rgb(228, 224, 166);
    
}
#form {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
}

#gifAdd {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
#removeAll {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
#main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin: 10px;
    padding: 10px;
    background-color: rgb(161, 218, 116);
    border-radius: 15px;
    border: 5px solid rgb(180, 182, 55);
    align-content: center;
}

img{
    width: 90%;
}
