
body{
    display: block;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.UQT7Xj8PbFyYmFqGlr3hbAHaE7%3Fpid%3DApi&f=1&ipt=d4206dc2426ad9f69936987dff7dfd614901d10ddca94cf6a3705dfa38d7d8ff&ipo=images');
    background-size: 100% 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#wrapper{
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.699);
    
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

#select_from, #select_to{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    width: 60%
}

#amount>*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#amount>h2{
    font-family: "Bitcount Prop Double", system-ui;
    font-size: 2em;
}
#amount>input{
    width: 30%;
}

#amount_input{
    margin-bottom: 15px;
}

#submitButton{
    width: 25%;
    height: 25%;
    
    font-size: 2em;
    font-family: "Bitcount Prop Double", system-ui;
    color: rgb(180, 56, 7);
}